{% extends "layout.html" %}
{% load staticfiles %}

{% block title %} Home {% endblock %}

{% block content %}
  <div class="navbar-fixed">
    <nav class="white main-nav ">
      <div class="nav-wrapper" role="navigation">
        <a href="#" class="brand-logo"><img class="responsive-img" src="{% static 'img/logo-completo.png'%}" alt="LogoFacyt"></a
        <ul class="right hide-on-med-and-down">
          <li><a href="#" class="waves-effect waves-light btn blue">Añadir</a></li>
          <li><a href="#" class="waves-effect waves-light btn blue">Desconectarse</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container2 ">

    {% block content_two %}

    {% endblock %}
  </div>

    </div>
  </div>
{% endblock %}
