{% extends "layout.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %} Home {% endblock %}

{% block content %}
  <div class="navbar-fixed">
    <nav class="white main-nav ">
      <div class="nav-wrapper" role="navigation">
        <a href="{% url 'home' %}" class="brand-logo left"><img class="responsive-img" src="{% static 'img/logo-completo.png'%}" alt="LogoFacyt"></a>
        <!--<ul class="hide-on-med-and-down right">-->
        <ul class="hide-on-med-and-down right">
          <li><a href="#modal1" class="waves-effect waves-light btn blue">Añadir</a></li>
          <li><a href="{% url 'logout' %}" class="waves-effect waves-light btn blue">Desconectarse</a></li>
        </ul>

      </div>
    </nav>
  </div>
  <div id="modal1" class="modal modal-solicitud">
    <div class="modal-content">
      <h5 class="center-align">Añadir nueva solicitud</h5>
      <div class="container">
        <form method="post" action="{% url 'crear_solicitud' %}" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="input-field">
            {{form.nombre.label_tag}}
            {% render_field form.nombre %}
          </div>
          <div class="input-field">
            {{form.apellido.label_tag}}
            {% render_field form.apellido %}
          </div>
          <div class="input-field">
            {{form.cedula.label_tag}}
            {% render_field form.cedula %}
          </div>
          <div class="input-field">
            {{form.telefono.label_tag}}
            {% render_field form.telefono %}
          </div>
          <div class="input-field">
            {{form.correo.label_tag}}
            {% render_field form.correo %}
          </div>
          <p>
            {% render_field form.solvencia %}
            {{form.solvencia.label_tag}}
          </p>

          <div class="file-field input-field">
            <div class="btn blue">
              <span>Archivo</span>
              {% render_field form.archivo_adjunto %}
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
        </div>
        <br>
        <br>
          <div class="row">
            <div class="btn-group center-align">
                <button type="close" class="modal-action modal-close btn btn-floating left-align red"><i class="material-icons">close</i></a>
                <button type="submit" class="btn btn-floating right-align green"><i class="material-icons">check</i></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container-fluid main-content">
    <div class="row">
        <div class="col s10 offset-s1 full-page card big-card">
          {% block content_two %}

          {% endblock %}

        </div>
    </div>
  </div>

{% endblock %}
