{% extends "layout.html" %}
{% load staticfiles %}

{% block title %} Home {% endblock %}

{% block content %}
  <div class="navbar-fixed">
    <nav class="white main-nav ">
      <div class="nav-wrapper" role="navigation">
        <a href="#" class="brand-logo left"><img class="responsive-img" src="{% static 'img/logo-completo.png'%}" alt="LogoFacyt"></a>
        <!--<ul class="hide-on-med-and-down right">-->
        <ul class="hide-on-med-and-down right">
          <li><a href="#" class="waves-effect waves-light btn blue">Añadir</a></li>
          <li><a href="#" class="waves-effect waves-light btn blue">Desconectarse</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container-fluid main-content">
    <div class="row">
        <div class="col s10 offset-s1 full-page card">
          {% block content_two %}

          {% endblock %}

        </div>
    </div>

  </div>

    </div>
  </div>
{% endblock %}
