{% extends "home_layout.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block title %} List {% endblock %}

{% block content_two %}
  <div>
    <div class="row">
      <div class="col s12 m4 l4 ">
        <div class="input-field">
        <i class="prefix material-icons">search</i>
          <input id="search" type="text" required>
          <label for="search">Busqueda</label>
        </div>
      </div>

      <div class="col s12">
        <table class="centered responsive-table">
          <thead>
            <tr>
                <th>Nombre</th>
                <th>Cédula</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Estatus</th>
                <th>PDF</th>
                <th>Acciones</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Crismary Castellanos</td>
              <td>25.444.796</td>
              <td>crismary04@gmail.com</td>
              <td>0424-329-4370</td>
              <td>Procesada</td>
              <td><i class="fa fa-file-pdf-o" style="color:red;font-size:30px"></i></td>
              <td><i class="material-icons" style="font-size:30px;color:rgb(51, 59, 60);">settings</i></td>
            </tr>
            <tr>
              <td>Crismary Castellanos</td>
              <td>25.444.796</td>
              <td>crismary04@gmail.com</td>
              <td>0424-329-4370</td>
              <td>Esperando Firma</td>
              <td><i class="fa fa-file-pdf-o" style="color:red;font-size:30px"></i></td>
              <td><i class="material-icons" style="font-size:30px;color:rgb(241, 165, 17);">warning</i></td>
            </tr>
            <tr>
              <td>Crismary Castellanos</td>
              <td>25.444.796</td>
              <td>crismary04@gmail.com</td>
              <td>0424-329-4370</td>
              <td>Recibido</td>
              <td><i class="fa fa-file-pdf-o" style="color:red;font-size:30px"></i></td>
              <td><i class="material-icons" style="font-size:30px;color:rgb(51, 59, 60);">settings</i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
