{% extends "home_layout.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block title %} List {% endblock %}

{% block content_two %}
  <div>
    <div class="row">
      <div class="col s12 m4 l4 ">
        <div class="input-field">
        <i class="prefix material-icons">search</i>
          <input id="search" type="text" required>
          <label for="search">Busqueda</label>
        </div>
      </div>

      <div class="col s12" >
        <table class="centered responsive-table">
          <thead>
            <tr>
                <th>Nombre</th>
                <th>Cédula</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Estatus</th>
                <th>PDF</th>
                <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
          {% for solicitud in solicitudes  %}
              <tr>
                <td>{{solicitud}}</td>
                <td>{{solicitud.cedula}}</td>
                <td>{{solicitud.correo}}</td>
                <td>{{solicitud.telefono}}</td>
                <td>{{solicitud.get_estatus}}</td>
                <td><i class="fa fa-file-pdf-o fa-2x red-text"></i></td>

                {# <td><a href="{% url 'solicitud' solicitud.pk %}">procesar</a></td>#}
                <td>
                  {% if solicitud.estatus == 'R'  and  not solicitud.corre_recibido %}
                  <!-- CONFIRMA EL CORREO DE RECIBIDO -->
                  {% elif  solicitud.estatus == 'R' and solicitud.correo_recibido %}
                  <!-- EL LINK A PROCESAR -->
                  {% elif solicitud.estatus == 'P' and not solicitud.correo_procesado %}
                  <!-- CONFIRMAR QUE ENVIO EL CORREO DE PROCESADO (CAMBIA A VERIFICACION)-->
                  {% elif  solicitud.estatus == 'V' %}
                  <!-- CONFIRMA VERIFIFACION Y PASA AL ESTADO ESPERAR FIRMA -->
                  {% elif solicitud.estatus == 'EF' and not solicitud.correo_listo %}
                  <!-- CdoONFIRMA ENVIO DEL CORREO DE QUE ESTA LISTO -->
                  {% else  %}
                  <!-- CONFIRMA QUE EL ESTUDIANTE YA VINO A BUSCAr LOS PROGRAMAS
                  Y CAMBIA EL ESTATUS A FINALIZADO -->
                  {% endif %}

                </td>
              </tr
              <div class="modal modal-acciones" id="recibido">
                <div class="modal-content">
                  <h5 class="center-align">¿Envio el correo para informar que ya fue recibida la solicitud?</h5>
                  <div class="center-align">
                    <a href="{% url 'confirmar_email' solicitud.pk %}" class="btn green">Si</a>
                    <a href="{% url 'home' %}" class="btn red">No</a>
                  </div>
                </div>
              </div>

              <div class="modal modal-acciones" id="procesado">
                <div class="modal-content">
                  <h5 class="center-align">¿Envio el correo para informar que ya fue procesada la solicitud?</h5>
                  <div class="center-align">
                    <a href="" class="btn green">Si</a>
                    <a href="{% url 'home' %}" class="btn red">No</a>
                  </div>
                </div>
              </div>

              <div class="modal modal-acciones" id="listo">
                <div class="modal-content">
                  <h5 class="center-align">¿Envio el correo para informar que ya esta lista la solicitud?</h5>
                  <div class="center-align">
                    <a href="" class="btn green">Si</a>
                    <a href="{% url 'home' %}" class="btn red">No</a>
                  </div>
                </div>
              </div>

              <div class="modal modal-acciones" id="retirado">
                <div class="modal-content">
                  <h5 class="center-align">¿Ya fue retirada la solicitud?</h5>
                  <div class="center-align">
                    <a href="" class="btn green">Si</a>
                    <a href="{% url 'home' %}" class="btn red">No</a>
                  </div>
                </div>
              </div>
          {% endfor %}


          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
