{% extends "layout.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block title %} Log In {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s4 offset-s4 logo">
        <img class="responsive-img" src="{% static 'img/logo.png '%}" alt="logo">
      </div>
      <div class="col s12">
        <h5 class="center-align pie">Descarga de programas FACYT-Computación</h5>
      </div>
      <div class="col s6 offset-s3">
        <div class="card">
          <div class="card-block form-login">
            <form class="" method="post">
              {% csrf_token %}
                <div class="input-field">
                  <label for="username">Nombre de Usuario:</label>
                  {% render_field form.username %}
                </div>

                <div class="input-field">
                  <label for="password">Constraseña:</label>
                  {% render_field form.password %}
                </div>
                <br>
                <div class="row">
                  <div class="col s12 ">
                    <button class="btn waves-effect waves-light blue bton" type="submit" name="button">Conectarse</button>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
