{% extends "home_layout.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block title %} Solicitud 15 {% endblock %}

{% block content_two %}
  <div class="row">
    <div class="col s12 m12 l6">
      <h5 class="center-align">15 Victor Ligas V-26.267.115</h5>
      <br>
      <div class="container">
        <form method="post">
          {% csrf_token %}
          <!-- <div class="input-field">
            <label for="nombre">Periodo</label>
            <input id="nombre" type="text" class="validate">
          </div>
          <div class="input-field">
            <label for="cedula">Materias</label>
            <input id="cedula" type="text" class="validate">
          </div>
          <br>
          <div class="btn-group center-align">
              <a href="" class="btn btn-floating right-align blue"><i class="material-icons">check</i></a>
          </div> -->
          {{ form.as_p }}
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>

    <div class="col s12 m12 l6">
      <div class="row">
        <div class="col s10 offset-s1">
          <br>
          <br>
          <br>
          <div class="card color-card darken-1">
            <div class="card-content white-text">
              <span class="card-title center-align"><i class="fa fa-exclamation-triangle text-darken-3"></i>No hay programas añadidos<i class="fa fa-exclamation-triangle text-darken-3"></i></span>
              <p class="text-card">Lo que deseen poner en este espacio Lorem strud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <h5 class="center-align">Programas listos para descargar <a href="" class="btn btn-floating right-align blue"><i class="material-icons">file_download</i></a> </h5>
      <br>
      <div class="scroll-def">
        <ul class="collection">
          <li class="collection-item ">
            <span class="title"><strong>1-2016</strong></span>
            <p class="color-text-g">TAO-201, CAO-402, TAO-302, CAO-205</p>
          </li>
          <li class="collection-item ">
            <span class="title"><strong>1-2016</strong></span>
            <p class="color-text-g">TAO-201, CAO-402, TAO-302, CAO-205</p>
          </li>
          <li class="collection-item ">
            <span class="title"><strong>1-2016</strong></span>
            <p class="color-text-g">TAO-201, CAO-402, TAO-302, CAO-205</p>
          </li>
          <li class="collection-item ">
            <span class="title"><strong>1-2016</strong></span>
            <p class="color-text-g">TAO-201, CAO-402, TAO-302, CAO-205</p>
          </li>
          <li class="collection-item ">
            <span class="title"><strong>1-2016</strong></span>
            <p class="color-text-g">TAO-201, CAO-402, TAO-302, CAO-205</p>
          </li>
          <li class="collection-item ">
            <span class="title"><strong>1-2016</strong></span>
            <p class="color-text-g">TAO-201, CAO-402, TAO-302, CAO-205</p>
          </li>
        </ul> -->

      </div>
    </div>
  </div>
{% endblock %}
