{% extends "home_layout.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block title %} Solicitud 15 {% endblock %}

{% block content_two %}
  <div class="row">
    <div class="col s12 m12 l6">


      <div class="container">
        {% if form.errors.items %}
          <div class="error red lighten-2 white-text card card-content">
            {% for field, errors in form.errors.items %}
              <div>
                {{errors}}
              </div>
            {% endfor %}
          </div>
          <br>
        {% endif %}
        <h5>{{ solicitud }} <a href="{{solicitud.archivo_adjunto.url}}" target="_blank"><i class="fa fa-file-pdf-o red-text"></i></a></h5>
        <p>ID : <span class="blue-text">{{solicitud.pk}}</span></p>
        <p>C.I : <span class="blue-text">{{solicitud.cedula}}</span></p>
        <p>Correo : <span class="blue-text">{{solicitud.correo}}</span></p>
        <p>Telefono : <span class="blue-text">{{solicitud.telefono}}</span></p>
        <br>
        <form method="post">
          {% csrf_token %}
          <div class="input-field">
            {{form.periodo.label_tag}}
            {% render_field form.periodo %}
          </div>
          <div class="input-field">
            {{form.materias.label_tag}}
            {% render_field form.materias %}
          </div>
          <br>
          <div class="btn-group center-align">
              <button type="submit" class="btn btn-floating right-align blue"><i class="material-icons">check</i></a>
          </div>
        </form>
      </div>
    </div>

    <div class="col s12 m12 l6">
      <div class="container">
       <div class="row">
          {% if solicitud.programas_ordenados %}
          <h5 class"center-align">Programas listos para descargar (#{{soclitiud.nro_programas}})<a href="{% url 'descargar_programas' solicitud.pk %}" class="btn btn-floating right-align blue"><i class="material-icons">file_download</i></a> </h5>
          <br>
           <div class="scroll-def">
             <ul class="collection">
               {% for programa in solicitud.programas_ordenados %}
               <li class="collection-item avatar">
                 <i class="fa fa-check fa-2x green-text white circle"></i>
                 <span class="title"><strong>{{programa.periodo}}</strong></span>
                 <p class="color-text-g">
                   {% for materia in programa.materias %}
                   <a href="{% url 'eliminar_programa' solicitud.id materia.id %}" class="eliminar-programa grey-text tipped" data-position="top" data-tooltip="{{materia.nombre}}">{{materia.codigo_materia}}</a>
                   {% endfor %}
                 </p>
               </li>
               {% endfor %}
             </ul>
           </div>
           {% else %}
             <div class="col s10 offset-s1">
               <br>
               <br>
               <br>
               <div class="card blue">
                 <div class="card-content white-text">
                   <span class="card-title center-align"><i class="fa fa-exclamation-triangle text-darken-3"></i>No hay programas añadidos<i class="fa fa-exclamation-triangle text-darken-3"></i></span>
                 </div>
               </div>
             </div>
             {% endif %}
           </div>
         </div>

      </div>
    </div>
  </div>
{% endblock %}
