body {
  background: #0575e6;
  background: -webkit-linear-gradient(to bottom, #0575e6, #021b79);
  background: linear-gradient(to bottom, #0575e6, #021b79);
}

html {
  height: 100%
}

body {
  background-attachment: fixed
}

.pie{
  color: white;
  margin-top: 0px;
}

.logo {
  margin-top: 20px;
}

.form-login {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(108, 108, 105);
}

.btn-small {
  padding: 0 0.5rem;
  font-size: 10px;
}
