body {
  background: #0575e6;
  background: -webkit-linear-gradient(to bottom, #0575e6, #021b79);
  background: linear-gradient(to bottom, #0575e6, #021b79);
}

html {
  height: 100%;
}

body {
  background-attachment: fixed;
}

.pie{
  color: white;
  margin-top: 0px;
}

.logo {
  margin-top: 20px;
}

.form-login {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(108, 108, 105);

}

/*.bton{
  width: 50%;
  margin: 0 auto;
}*/

.nav-wrapper .brand-logo img {
  height: 85px;
  width: 400px !important;
  margin-left: 10px;
}


.main-nav
{
  padding: 10px;
  position:relative;
  height:100px !important;
}

 .btn-head {
   margin-top: 5px;
   margin-right: 100px;
 }

 .full-page
 {
     min-height: 100vh !important;
     padding-top:30px !important;
 }

 .main-content
 {
     margin-top:20px;
 }
